<div class="user-details">
  <mat-list role="list">
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes Do Usuario</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Nome: </span>
      <span class="mat-h3">Fulano</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Email: </span>
      <span class="mat-h3">Fcomdddddgmail.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">telefone: </span>
      <span class="mat-h3">(11)95762-6191</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Endereco: </span>
      <span class="mat-h3">Rua luiz luiza 165 , sao paulo - sp</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Ativo: </span>
      <span class="mat-h3">sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Data de cadastro: </span>
      <span class="mat-h3">10/01/2024</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
