<div class="users-list">
  <table mat-table [dataSource]="userList" class="">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td
        (click)="onUserSelected(element)"
        class="users-list__item"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.nome | dashIfEmpty }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data de cadastro</th>
      <td
        (click)="onUserSelected(element)"
        class="users-list__item"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.dataCadastro | date : "dd/MM/yyyy" | dashIfEmpty }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td
        (click)="onUserSelected(element)"
        class="users-list__item"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.ativo | status | dashIfEmpty }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
