<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuario</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Nome:</span>
      <span class="mat-h3"> Fulano</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Email:</span>
      <span class="mat-h3"> Fulano.gmail.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Telefone:</span>
      <span class="mat-h3"> 11 95762-6191</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Endereco:</span>
      <span class="mat-h3"> Rua das flores , 42 , sao paulo - sp</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-h2">Ativo:</span>
      <span class="mat-h3"> Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list-item>
    <span class="mat-h2">Funcao:</span>
    <span class="mat-h3"> Piao</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <span class="mat-h2">Data de cadastro:</span>
    <span class="mat-h3"> 01/01/2025</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>
