table {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;

  button {
    float: right;
    margin-bottom: 10px;
  }
}

.verde {
  color: green;
  font: 500;
}

.vermelho {
  color: red;
  font: 500;
}
