<div class="container flex">
  <button (click)="novaEntrada()" mat-raised-button color="primary">
    Novo +
  </button>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="pago">
      <th mat-header-cell *matHeaderCellDef>Pago</th>
      <td
        [ngClass]="element.pago ? 'verde' : 'vermelho'"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.pago | statusPipe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">{{ element.data }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">
        {{ formatarValor(element.valor) | formatarMoeda }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.tipo | lowercase }}</td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="chamarEdicao(element)"
          style="color: rgb(20, 105, 224); cursor: pointer"
          >edit</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="excluir(element.id)"
          style="color: rgb(216, 13, 13); cursor: pointer"
          >delete</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="7"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
