<div class="container">
  <h1 class="center">Cadastro de entradas</h1>
</div>
<div class="container flex">
  <form [formGroup]="formEntrada">
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Entrada</mat-label>
      <input matInput type="text" formControlName="nome" />
      <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput type="number" formControlName="valor" />
      <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoriaId">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="pago">
        <mat-option
          *ngFor="let status of statusDePagamento"
          [value]="status.value"
        >
          {{ status.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option
          style="text-transform: capitalize"
          *ngFor="let tipo of tiposDeEntradas"
          [value]="tipo.value"
        >
          {{ tipo.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Pagamento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button
      (click)="salvarEntrada()"
      mat-raised-button
      color="primary"
      [disabled]="!formEntrada.valid || !algumCampoAlterado"
    >
      Salvar
    </button>
  </form>
</div>
