<h1 class="tituloPagina">{{ tituloPagina }}</h1>

<form
  [formGroup]="formCadastroProduto"
  (ngSubmit)="salvarProduto()"
  class="example-form"
>
  <mat-form-field
    class="example-full-width"
    color="accent"
    appearance="outline"
  >
    <mat-label>Titulo</mat-label>
    <input
      formControlName="nome"
      min="4"
      matInput
      placeholder="Titulo Produto"
    />
    <mat-error>Favor informe um titulo</mat-error>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    color="accent"
    appearance="outline"
  >
    <mat-label>Preço</mat-label>
    <input
      type="number"
      formControlName="preco"
      matInput
      placeholder="Digite um preço"
    />
    <mat-error>Favor informe um preço</mat-error>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    color="accent"
    appearance="outline"
  >
    <mat-label>Estoque</mat-label>
    <input
      formControlName="estoque"
      type="number"
      matInput
      placeholder="Digite um estoque"
    />
    <mat-error>Favor informe um estoque</mat-error>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    color="accent"
    appearance="outline"
  >
    <mat-label>Descrição</mat-label>
    <textarea
      formControlName="descricao"
      matInput
      placeholder="Descreva o produto"
    ></textarea>
    <mat-error>Favor informe a descricao</mat-error>
  </mat-form-field>

  <button
    [disabled]="!formCadastroProduto.valid"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Salvar
  </button>

  <p>{{ !formCadastroProduto.valid }}</p>
</form>
